/* override css for spacing/margins/padding issues */

.home-page-content {
  margin-left: 1.5rem;
  h2 {
    margin-bottom: 1.5rem; 
    margin-top: 1.5rem;
    text-align: center;
  }
  p {
    margin-bottom: 1.5rem; 
    margin-top: 1.5rem;
    text-align: center;

  }

}

.main-nav {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main-nav ul {
  display: flex;
  gap: 1.5rem;
}


